body,
html {
height: max-content;
margin: 0;
}

* {
box-sizing: border-box;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
font-family: garamond
}

h1 {
text-align: center;
font-family: garamond;
border: 1px solid black;
/* box-shadow: first # = horizontal offset; second # = vertical offset; last = color*/
box-shadow: 20px 40px #caedeb;
font-size: 40px;
letter-spacing: 15px;
text-shadow: 3px 2px #cacbcc;
width: 450px;
height: 100px;
margin-left: auto;
margin-right: auto;
padding-top: 20px
}

.main {
max-width: auto;
margin: 0;
}
/*------ styling the SIDE BAR --------->
/* the box-sizing enables the fitting (formating) of the website*/

.sidenav a,
.dropdown-btn {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-family: garamond;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}
.sidenav a:hover,
.dropdown-btn:hover {
color: #f1f1f1;
}
.sidenav .closebtn {
position: sticky;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
padding: 10px 15px;
border: none;
position: sticky;
}
.openbtn:hover {
background-color: #444;
}
#main {
transition: margin-left .5s;
padding: 0px;
}
.dropdown {
background-color: #111;
}
/* makes the drop down background lighter*/
.dropdown-container {
display: none;
background-color: #262626;
padding-left: 8px;
}
.fa-caret-down {
float: right;
padding-right: 75px;
}
/* active class to activate when clicked on */
*.active {
background-color: #caedeb;
color: white;
}
/*--On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)*/
@media screen and (max-height: 450px) {
.sidebar {
padding-top: 15px;
}
.sidebar a {
font-size: 18px;
}
#page-container {
position: relative;
min-height: 100%;
}

/* scroll to top button */
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 20px;
border: none;
outline: none;
background-color: #ff6666;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 50px;
}

#myBtn:hover {
background-color: #555;
}
/*------*/

/* ----------footer styling ----------------*/
/*footnote with name & date edited */
#footer{
background: #f1f1f1;
padding: 10px;
text-align: center;
font-size: 11px;
font-family: garamond;
color: black;
display: block;
}
/* Footer height */
/*------ styling the SIDE BAR --------->
/* the box-sizing enables the fitting (formating) of the website*/
