@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Give+You+Glory);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


body {
	background: #fff;
	color: #a7a0a2;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
 
.clearfix:after {
	clear: both;
}

a {
	color: #8e888a;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #a7a0a2;
}

.codrops-header {
	margin: 0 auto;
	padding: 9em 2em;
	text-align: center;
	background: #444;
	color: #f2f8f8;
	position: relative;
	overflow: hidden;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 3.5em;
	line-height: 1.3;
	position: relative;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	background: #444;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #919191;
}

.codrops-top a:hover {
	color: #fff;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.description {
	padding: 6em 8em;
	overflow: hidden;
}

.description p {
	font-size: 200%;
	text-align: center;
	max-width: 800px;
}

.description p,
.codrops-header p {
	margin: 0 auto 1em;
	font-weight: 300;
	line-height: 1.4;
}

.codrops-header p {
	opacity: 0.5;
	text-align: left;
	font-size: 200%;
}

.columns p {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

svg.polaroid {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

.description svg.polaroid {
	padding: 5px 0 30px;
}

svg.polaroid rect {
	stroke: #beb4b7;
	fill: #fff;
	stroke-width: 6;
}

.codrops-header svg.polaroid {
	position: absolute;
	top: 50%;
	z-index: 0;
	opacity: 0.1;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.codrops-header svg.polaroid rect {
	fill: #444;
	stroke-width: 2;
}

.related {
	text-align: center;
	font-size: 1.35em;
	padding: 6em 2em;
	overflow: hidden;
	background-color: #444;
}

.related > a {
	border: 3px solid #3c3c3c;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #3c3c3c;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	color: #beb4b7;
	border-color: #beb4b7;
}

.related a img {
	max-width: 50%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (min-width: 60em) {
	.columns {
		-moz-column-count: 2;
		-moz-column-gap: 1em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1em;
		column-count: 2;
		column-gap: 1em;
	}

	.codrops-header .columns {
		padding: 3em 0 0;
		-moz-column-gap: 2em;
		-webkit-column-gap: 2em;
		column-gap: 2em;
	}
}


@media screen and (max-width: 45em) {
	.codrops-header, 
	.description {
		font-size: 80%;
	}

	.description {
		padding: 4em 1.5em;
	}

	.codrops-header svg.polaroid {
		height: 200px;
	}
}


@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

	.codrops-icon:before {
		font-size: 160%;
		line-height: 2;
	}

}

/*------ styling the SIDE BAR --------->
/* the box-sizing enables the fitting (formating) of the website*/
/*Adding in nav/sidebar stylistics*/
h1 {
text-align: center;
font-family: garamond;
border: 1px solid black;
/* box-shadow: first # = horizontal offset; second # = vertical offset; last = color*/
box-shadow: 20px 40px #caedeb;
font-size: 40px;
letter-spacing: 15px;
text-shadow: 3px 2px #cacbcc;
width: 450px;
height: 100px;
margin-left: auto;
margin-right: auto;
padding-top: 20px
}
/* TRAVEL PAGE HEADING */
.bg-image {
/* Full height */
height: 50%;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
max-width: auto;
}

.img1 { background-image: url("DF6149AC-8F0D-4E27-8E73-38BE81EB6FE9.jpg"); }
/* Position text in the middle of the page/image */
.bg-text {
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
color: white;
font-weight: bold;
font-size: 80px;
border: 10px solid #f1f1f1;
position: center;
transform: translate(150%, 60%);
z-index: 2;
width: 300px;
padding: 20px;
text-align: center;
}
/* Travel PAGE HEADER END
*/
.main {
max-width: auto;
margin: 0;
}

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
font-family: garamond
}

.sidenav a,
.dropdown-btn {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-family: garamond;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover,
.dropdown-btn:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: sticky;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
padding: 10px 15px;
border: none;
position: sticky;
}
.openbtn:hover {
background-color: #444;
}
#main {
transition: margin-left .5s;
padding: 0px;
}
.dropdown {
background-color: #111;
}
/* makes the drop down background lighter*/
.dropdown-container {
display: none;
background-color: #262626;
padding-left: 8px;
}
.fa-caret-down {
float: right;
padding-right: 75px;
}
/* active class to activate when clicked on */
*.active {
background-color: #caedeb;
color: white;
}
/*--On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)*/
@media screen and (max-height: 450px) {
.sidebar {
padding-top: 15px;
}
.sidebar a {
font-size: 18px;
}
#page-container {
position: relative;
min-height: 100%;
}
/* ----------footer styling ----------------*/
#content-wrap {
padding-bottom: 2.5px;
/* Footer height  & em refers to the font-size (2.5 times the font size */
}
/*    begining new layout CSS     */
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
.column {
width: 100%;
}
}
.container {
position: relative;
max-width: 800px;
/* Maximum width */
margin: 0 auto;
/* Center it */
}
.container .content {
position: absolute;
/* Position the background text */
bottom: 0;
/* At the bottom. Use top:0 to append it to the top */
background: rgb(0, 0, 0);
/* Fallback color */
background: rgba(0, 0, 0, 0.5);
/* Black background with 0.5 opacity */
color: #f1f1f1;
/* Grey text */
width: 100%;
/* Full width */
padding: 20px;
/* Some padding */
height: auto;
-webkit-animation: fadeEffect 1s;
animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
@keyframes fadeEffect {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
/* SLIDE BAR STYLING */
/*.mySlides {
display: none;
}*/
/* End of nav stylings*/


